$component-name: 'l-usage';

.#{$component-name} {
  &__row {
    display: flex;
    align-items: center;
  }

  &__box-container {
    &:first-child {
      text-align: right;
    }
  }

  &__box {
    padding: 1rem 0;
  }

  &__icon {
    color: $red;
    padding: 1rem 0;
    font-size: 4.5rem;
  }

  &__title {
    color: $black;
    font-size: 2.5rem;
  }

  &__description {
    color: $gray;
    padding: 1rem 0;
    font-size: 1.5rem;
  }

  &__divider {
    padding: 0 1rem;
  }

  @media (max-width: 991px) {
    &__row {
      flex-flow: column;
    }

    &__divider {
      display: none;
    }

    &__box {
      text-align: center;
    }
  }
}
